$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

body, html {
  height: 100%;
  overflow: hidden;
}

body {
  background-color: green;
  background-position: center;
  background-image: url('/images/background.jpg');
  background-size: cover;
}

.title {
  position: absolute;
  font-size: 3em;
  top: 10px;
  left: 30px;
  color: white;
  z-index: 1;
}

.score {
  position: absolute;
  font-size: 3em;
  top: 10px;
  right: 40px;
  color: white;
}

#squirrel {
  position: absolute;
  top: 310px;
  right: 30px;
}

.acorn {
  position: absolute;
  height: 60px;
  width: 60px;
  background-repeat: no-repeat;
  top: 0;
  z-index: 0.5;
}
&.left {
  background-image: url("/images/acorn.png");
  background-position: right -30px top -70px;
}

&.right {
   background-image: url("/images/acorn-right.png");
  background-position: right -40px bottom -70px;
}

#basket {
  position: absolute;
  bottom: 70px;
  padding-left: 10px;
  z-index: 1;
}
